# Python
*.pyc
__pycache__/

# System & OS
.DS_Store
Thumbs.db

# Virtual Environments
venv/
venv3/
ENV/
env/

# Secrets & Local Configs
.env
.env.*
.streamlit/secrets.toml
.streamlit/credentials.toml
secrets.toml

# Setuptools & Build
*.egg-info/
build/
dist/
setuptools-*

# IDE & Editor
.vscode/
.idea/
*.sw[a-z]

# Other local artifacts
.pypirc
.notes
client.py
.devcontainer